services:
  upstream-db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: postgress
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    command: postgres -c wal_level=logical
    volumes:
      - ./db/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s

  app:
    build:
      context: .
      args:
        NEXT_PUBLIC_ZERO_SERVER: ${NEXT_PUBLIC_ZERO_SERVER}
    ports:
      - 3000:3000
    environment:
      NEXT_PUBLIC_ZERO_SERVER: ${NEXT_PUBLIC_ZERO_SERVER}
      ZERO_UPSTREAM_DB: ${ZERO_UPSTREAM_DB}
    depends_on:
      upstream-db:
        condition: service_healthy

  zero-cache:
    image: rocicorp/zero:0.25.11
    ports:
      - 4848:4848
    environment:
      # Used for replication from postgres
      # This must be a direct connection (not via pgbouncer)
      ZERO_UPSTREAM_DB: ${ZERO_UPSTREAM_DB}
      # Path to the SQLite replica
      ZERO_REPLICA_FILE: /data/zero.db
      # Password used to access the inspector and /statz
      ZERO_ADMIN_PASSWORD: password
      # URLs for your API's query and mutate endpoints
      ZERO_QUERY_URL: ${ZERO_QUERY_URL}
      ZERO_MUTATE_URL: ${ZERO_MUTATE_URL}
    volumes:
      # Disk for the SQLite replica should be high IOPS
      - ./zero-cache-data/prod:/data
    depends_on:
      upstream-db:
        condition: service_healthy
      app:
        condition: service_started
    healthcheck:
      test: curl -f http://localhost:4848/keepalive
      interval: 5s
